*
{
    font-family: "JetBrains Mono";
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*>button
{
    cursor: pointer;
}

:root
{
    --bg-color: #030319;
    --primary-accent: #55a7e5;
    --secondary-accent: #d1c994;
}

.gateway-container,
.main-activity,
.user-meta,
.projected-image-container
{
    display: flex;
}

.user-meta
{
    flex-direction: row;
}

.gateway-container
{
    flex-direction: column;
}

.App
{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    scroll-snap-type: y mandatory;
    box-sizing: border-box;
}

.gateway-container
{
    width: fit-content;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 20px;
}

.gateway-container>input
{
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.gateway-container>button
{
    font-weight: bold;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.gateway-container>button:hover
{
    background-color: #1a223a;
    color: #f0f8ffcc;
    box-shadow: 0 0 1px 0 var(--primary-accent);
}

.loader
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.existing-room
{
    font-size: small;
    color: #f0f8ffcc;
}

.main-activity
{
    width: 100%;
    box-sizing: border-box;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.message-content>.text-message,
.post-content>.text-post
{
    font-size: small;
    margin: 0;
    color: #f0f8ffcc;
}

.text-message.no-margin,
.text-post.no-margin
{
    margin: 0;
}

.message-content>img,
.post-content>img
{
    margin: 0.5rem 0;
    cursor: pointer;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.message-content>img:hover,
.post-content>img:hover
{
    transform: scale(1.1);
}

.user-meta
{
    align-items: center;
    font-size: small;
    margin: 0.2rem 0;
    font-weight: bold;
}

.user-meta>p
{
    margin: 0;
}

.sender-name
{
    color: #1a223a;
    padding: 0 0.5rem;
    background-color: var(--secondary-accent);
    border-radius: 10px 0 0 10px;
}

.timestamp
{
    font-size: x-small;
    color: #1a223a;
    padding: 0.125rem 0.5rem;
    background-color: #f0f8ff88;
    border-radius: 0 10px 10px 0;
}

.projected-image-container
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.projected-image
{
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
}

input[type="file"]
{
    display: none;
}

.attach-file
{
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: xx-large;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.attachment-preview
{
    width: 100%;
    border-radius: 10px;
}

.attachment-preview p
{
    color: #f0f8ffcc;
    font-size: x-small;
    font-style: italic;
    margin: 0.5rem 0 0 1rem;
}

.attachment-preview img
{
    width: 100px;
    border-radius: 10px;
    margin: 0.5rem 0.5rem 0 1rem;
}

.post-button
{
    width: 2.5rem;
    height: 2.5rem;
    outline: 0;
    border: 0;
    font-size: large;
    border-radius: 50%;
    background-color: var(--secondary-accent);
}

.input-group>input
{
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    background-color: var(--bg-color);
    color: #f0f8ffcc;
    border-radius: 20px;
    outline: 0;
    border: 0;
}

.input-group
{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
